@import "~@/styles/page.styl"
@import "~@/styles/media.styl"
@import "~@/styles/scrollbars.styl"

.portfolio
  main
    +tablet-portrait-up()
      height 100vh

      overflow-y scroll

      custom-scrollbars()

    +phone-only()
      page()
