@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.blog
  content()

  .lefted
    align-self stretch

  .full-height
    flex-grow 1
