@import "~@/styles/content.styl"
@import "~@/styles/media.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.about
  content()

  .imagery
    shift('up', 0, 0, $space-smaller, 0)

  .quote-card
    --blockquote-background var(--background-highlights)

  .mumbai
    height 1em

  .gallery
    width 100%

    .content
      box-sizing border-box

      padding 0 $space-small

      .photo
        background-image var(--image-url)
        background-size cover
        background-position center center

        width 100%
        // Hack to maintain aspect ratio
        height 0
        padding-top (32/48) * 100%

        border-radius $space-small

      .caption
        +tablet-landscape-down()
          display none
