@import "~@/styles/page.styl"
@import "~@/styles/grid.styl"
@import "~@/styles/media.styl"
@import "~@/styles/scrollbars.styl"

.about
  main
    +tablet-portrait-up()
      height 100vh

      overflow-y scroll
      scroll-snap-type y mandatory

      custom-scrollbars()

      .section
        page-with-footer()

        scroll-snap-align start

        display flex
        flex-direction column
        justify-content center
        align-items center

        &#intro
          .content
            max-width 48em

        &#bites,
        &#favs
          .grid
            grid()

            .pane
              width 23em

    +phone-only()
      page()

      .section
        footer
          display none
