@import "~@/styles/page.styl"
@import "~@/styles/media.styl"

.about
  main
    .section
      display flex
      flex-direction column
      justify-content center

      &#intro
        page-with-footer()

        align-items center

        .imagery
          display flex
          flex-direction column
          align-items center
          justify-content center

          height 100%

        .content
          max-width 32em

      &#bytes
        page()

        .quote-card
          --blockquote-background var(--background-highlights)

        .carousel-content
          display flex
          flex-direction column
          align-items center

          .image
            margin-bottom $space-small

        .lefted
          text-align left
