@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/dimensions';

@import '~@/styles/layouts/content';

.about {
  @include content;

  .side-by-side {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: $dimen-m;

      svg {
        height: $size-5xl;
      }
    }
  }
}
