@import '~@/styles/tokens/durations';

@import '~@/styles/motion/transitions';

.work {
  @include flip('vertical', $duration-m, -90deg, 0deg, 90deg, 0deg, 0deg, 0deg);
  @include flip('vertical-rev', $duration-m, 90deg, 0deg, -90deg, 0deg, 0deg, 0deg);

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .actual-work {
    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      box-sizing: border-box;
      height: 100%;
      width: 0;

      background-color: var(--background-highlighted);

      transition-property: width, background-color;
      transition-duration: $duration-s;
    }
  }

  &.focused {
    .actual-work {
      &::after {
        width: 100%;
      }
    }
  }
}
