@import '~@/styles/tokens/dimensions';

.medium {
  display: block;

  text-decoration: none;

  margin-bottom: $dimen-s;

  &:hover,
  &:focus {
    color: var(--medium-color);
  }

  &:focus {
    outline: none;
  }
}
