@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/dimensions';

@import '~@/styles/layouts/bar_item';

@import '~@/styles/utils/controls';

.source {
  @include reset-control;

  @include bar-item;

  --source-color: var(--inactive-color);

  .icon {
    color: var(--source-color);
  }

  &:hover { // Mouse focus
    --source-color: var(--active-color);
  }

  &:focus { // Keyboard focus
    outline: 1px dotted var(--active-color);
  }
}
