@use '~@/styles/tokens/fonts';

@use '~@/styles/utils/theming';

.terminal {
  position: relative;

  font-family: fonts.$code;
  font-size: (14em / 16);
  line-height: 1.4;

  max-width: 80ch;

  &::after,
  &::before {
    @include theming.transition(0, (border-right-color));

    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    font: inherit;

    height: 100%;

    border-right: 1px solid var(--background-highlighted);

    pointer-events: none;
  }

  $factor: 8.4; // Each ch corresponds to 8.4px
  $pseudoelements: (
    'before': 80,
    'after': 120
  );
  @each $pseudoelement, $dimension in $pseudoelements {
    $width: $dimension * 1ch;
    $breakpoint: ($dimension * $factor + 32) * 1px; // Account for 1em margin on both sides

    &::#{$pseudoelement} {
      @media (min-width: $breakpoint) {
        width: $width;
      }
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }
}
