@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/weights';

@import '~@/styles/utils/media';

.header {
  position: fixed;
  z-index: 9;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background-color: var(--background);

  box-sizing: border-box;
  width: 100%;

  padding-left: $dimen-s;
  padding-right: $dimen-s;

  .nav-title-anchor {
    margin-right: auto;

    .nav-title {
      font-weight: $weight-extrabold;

      &.full {
        @include device-specific($devices-small-side) {
          display: none;
        }
      }

      &.short {
        @include device-specific($devices-big-side) {
          display: none;
        }
      }
    }

    &:hover {
      color: var(--active-color);
    }
  }
}
