@import "~@/styles/tokens.styl"

random(min, max)
  return floor(math(0, 'random') * (max - min + 1) + min)

.glitch
  position relative

  font-size 5rem
  font-family "Space Grotesk", "IBM Plex Sans Devanagari", sans-serif
  font-weight $weight-bold

  @keyframes noise-one
    totalsteps = 20
    for stepcount in (1..totalsteps)
      {percentage(stepcount/totalsteps)}
        top = random(0, 100)
        bottom = random(0, 101 - top)
        clip-path 'inset(%s% 0 %s% 0)' % (top bottom)

  @keyframes noise-two
    totalsteps = 20
    for stepcount in (1..totalsteps)
      {percentage(stepcount/totalsteps)}
        top = random(0, 100)
        bottom = random(0, 101 - top)
        clip-path 'inset(%s% 0 %s% 0)' % (top bottom)

  .clone
    position absolute

    top 0
    left 0

    background var(--background)

    animation-duration 4s
    animation-timing-function linear
    animation-iteration-count infinite
    animation-direction alternate-reverse

    &.one
      left 2px

      text-shadow -1px 0 $color-accent-red

      animation-name noise-one

    &.two
      left -2px

      text-shadow -1px 0 $color-accent-blue

      animation-name noise-two
