@mixin fade($duration) {
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-property: opacity;
    transition-duration: $duration;
    transition-timing-function: linear;
  }

  .fade-leave,
  .fade-enter-to {
    opacity: 1;
  }
}

@mixin flip($name, $duration, $xfrom: 0deg, $xmid: 0deg, $xto: 0deg, $yfrom: 0deg, $ymid: 0deg, $yto: 0deg) {
  perspective: 30em;

  .flip-#{$name}-enter {
    transform: rotateX($xfrom) rotateY($yfrom);
  }

  .flip-#{$name}-enter-to,
  .flip-#{$name}-leave {
    transform: rotateX($xmid) rotateY($ymid)
  }

  .flip-#{$name}-leave-to {
    transform: rotateX($xto) rotateY($yto);
  }

  .flip-#{$name}-enter-active,
  .flip-#{$name}-leave-active {
    transform-style: preserve-3d;
    transform-origin: 50% 100%;

    transition-property: transform;
    transition-duration: $duration;
  }

  .flip-#{$name}-leave-active {
    transition-timing-function: cubic-bezier(0.33, 0, 0.67, 0); // easeInCubic
  }

  .flip-#{$name}-enter-active {
    transition-timing-function: cubic-bezier(0.33, 1, 0.67, 1); // easeOutCubic
  }
}
