@import '~@/styles/layouts/content';

.four-oh-four {
  @include content;

  .error-place {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    image-rendering: pixelated;
  }

  footer {
    background-color: var(--background);
  }
}
