@use 'sass:math';

@use '~@/styles/tokens/dimensions';

@use '~@/styles/mixins/colored';

@use '~@/styles/utils/controls';

.scroll {
  @include controls.reset-control;
  @include colored.colored('--scroll-color');

  display: flex;

  align-items: center;
  justify-content: center;

  color: var(--content);

  height: 1.5em;
  width: 1.5em;

  border-radius: dimensions.$xs;

  .icon {
    height: 1.5em / math.sqrt(2);

    --stroke-width: 45.2548px; // sqrt(2) * 32px
  }

  &:hover {
    color: var(--background);

    background-color: var(--scroll-color);
  }
}
