@use '~@/styles/tokens/devices';
@use '~@/styles/tokens/dimensions';

@use '~@/styles/layouts/content';

@use '~@/styles/utils/media';

#blog--home {
  section {
    @include content.content-section;

    .blog-home-grid {
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      @include media.device-specific(devices.$group-small) {
        grid-template-columns: repeat(1, 1fr);
      }

      @include media.device-specific(devices.$group-big) {
        grid-template-columns: minmax(16em, 1fr) 3fr;
      }
    }

    .left {
      .content {
        position: sticky;
        top: dimensions.$bars;

        height: unset;
      }
    }

    .right {
      .content {
        .preview {
          &:not(:first-child) {
            margin-top: dimensions.$xs;
          }
        }

        .more {
          margin-left: dimensions.$m;
        }

        .centered {
          text-align: center;
        }
      }
    }
  }
}
