@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"

.credits
  content()

  .family
    vertical-align bottom

  .solarized
    rainbow()
    animation-duration 'calc(4 * %s)' % $duration-content

  .carousel-content
    .image
      height 3em

      border-radius $space-small

  .old-portfolio
    text-align center
