@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.credits
  content()

  .imagery
    shift('left', $space-smaller, 0, 0, 0)

    shift('right', '-%s' % $space-smaller, 0, 0, 0)

    .family
      vertical-align bottom

  .solarized
    rainbow()
    animation-duration 'calc(4 * %s)' % $duration-content

  .carousel-content
    .image
      height 3em

      border-radius $space-small

  .old-portfolio
    text-align center
