@use '~@/styles/tokens/durations';

.icon {
  height: 1.5em; // same as Repr

  fill-opacity: 0;

  transition-property: fill-opacity;
  transition-duration: durations.$m;

  &.inline {
    height: 1em;
  }

  &.solid {
    fill-opacity: 1;
  }
}
