@import "~@/styles/tokens.styl"
@import "~@/styles/reset.styl"

.themer
  reset-control()

  position relative

  display inline-flex
  align-items center
  justify-content center

  cursor pointer

  box-sizing border-box
  height $height-navbar
  width $height-navbar

  transition-property color, background-color, border-top-color
  transition-duration $duration-standard

  .content
    display inline-block

    padding $space-small

    color var(--primary-content)

    .icon
      transition-property transform
      transition-duration $duration-standard

  &::after
    position absolute
    top 0
    left 50%

    width 0
    height $space-smaller

    content ''

    background-color var(--secondary-content)

    transition-property width, left, background-color
    transition-duration $duration-standard

  &:hover,
  &:focus
    &::after
      left 0

      width 100%

  &:focus
    outline none

  &::-moz-focus-inner
    border none

.dark-themed
  .themer
    .icon
      transform rotate(360deg)

