@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/durations';

@import '~@/styles/layouts/bar_item';

@import '~@/styles/utils/controls';

.themer {
  @include reset-control;

  @include bar-item;

  --themer-color: var(--inactive-color);

  color: var(--themer-color);

  cursor: pointer;

  .icon {
    transform: rotate(180deg);

    transition-property: transform;
    transition-duration: $duration-s;
    transition-timing-function: ease;
  }

  &:hover { // Mouse focus
    --themer-color: var(--active-color);

    .icon {
      transform: rotate(150deg);
    }
  }

  &:focus { // Keyboard focus
    outline: 1px dotted var(--active-color);
  }
}

:root.dark-themed .themer {
  .icon {
    transform: rotate(-180deg);
  }

  &:hover { // Mouse focus
    .icon {
      transform: rotate(-150deg);
    }
  }
}
