@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/durations';

@import '~@/styles/layouts/bar_item';

@import '~@/styles/utils/controls';

.themer {
  @include reset-control;

  @include bar-item;

  --themer-color: var(--inactive-color);

  cursor: pointer;

  .iconography {
    margin-left: -#{$dimen-s};

    .icon {
      &.dark,
      &.light {
        color: var(--themer-color);
      }

      &.adjust {
        color: var(--content-secondary);
      }

      &.backdrop {
        color: var(--background);
      }

      &.current,
      &.other {
        transition-property: color, transform;
        transition-duration: $duration-m;
      }

      &.current {
        transform: scale(1);
      }

      &.other {
        transform: scale(0);
      }
    }
  }

  &:hover { // Mouse focus
    --themer-color: var(--active-color);

    .icon {
      &.current {
        transform: scale(0);
      }

      &.other {
        transform: scale(1);
      }
    }
  }

  &:focus { // Keyboard focus
    outline: 1px dotted var(--active-color);
  }
}
