// Libre Baskerville

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

$libre-baskerville:   'Libre Baskerville';
$family-serif:        $libre-baskerville, serif;
$family-post-heading: $family-serif;
