/**
 * Page level resets and functionality
 */
@import "~@/styles/tokens.styl"
@import "~@/styles/theme.styl"
@import "~@/styles/colors.styl"
@import "~@/styles/scrollbars.styl"

:root
  theme()

  font-family "IBM Plex Sans", sans-serif
  font-size 16px

  line-height 1.6

  background-color var(--background)

  transition-property background-color
  transition-duration $duration-standard

  custom-scrollbars()

  *
    // Reduce sudden change when changing theme
    transition-property color, background-color
    transition-duration $duration-standard

  body
    margin 0

  strong
    font-weight $weight-semibold

  ul
    padding-left $space-normal

  a
    color inherit
    text-decoration-style dotted
    text-decoration-skip-ink none

    &:hover,
    &:focus
      text-decoration-style solid

    &:focus
      outline none

  span,
  div
    colors('--primary-color')

    &[class*="-colored"]
      &:not(.inverted)
        color var(--primary-color)

      &.inverted
        color var(--background)

        background-color var(--primary-color)

      &.boxed
        border 1px solid var(--primary-color)
