/**
 * Page level resets
 */
@import "~@/styles/tokens.styl"
@import "~@/styles/theme.styl"

:root
  theme()

  font-family "IBM Plex Sans", sans-serif
  font-size 16px

  line-height 1.4

  background-color var(--background)

  transition-property background-color
  transition-duration $duration-standard

  scrollbar-color var(--background-highlights) var(--background)

  ::-webkit-scrollbar
    width $space-small

  ::-webkit-scrollbar-track
    background-color var(--background)

  ::-webkit-scrollbar-thumb
    background-color var(--background-highlights)

  *
    // Reduce sudden change when changing theme
    transition-property color, background-color
    transition-duration $duration-standard

  body
    margin 0

  strong
    font-weight $weight-semibold

  ul
    padding-left $space-normal
