/**
 * Powers mixin Colored
 */

@import "~@/styles/tokens.styl"

colors(property)
  $colors = 'yellow' 'orange' 'red' 'magenta' 'violet' 'blue' 'cyan' 'green'

  for color in $colors
    &.{color}-colored
      {property} lookup('$color-accent-' + color)

  &.secondary-colored
    {property} var(--secondary-content)
