latex()
  .latex
    font-family 'CMU Serif', cmr10, LMRoman10-Regular, 'Latin Modern Math', 'Nimbus Roman No9 L', 'Times New Roman', Times, serif

    .a,
    .e
      text-transform uppercase
      line-height 1ex

    .a
      font-size 0.75em
      vertical-align 0.25em
      margin-left -0.36em
      margin-right -0.15em

    .e
      vertical-align -0.5ex
      margin-left -0.1667em
      margin-right -0.125em
