/**
 * Standard full-page screen
 */

@import "~@/styles/tokens.styl"

page()
  box-sizing border-box

  min-height 100vh

  padding $space-normal
  padding-top 'calc(%s + %s)' % ($height-navbar $space-normal)

page-with-footer()
  page()

  position relative

  padding-bottom 'calc(%s + %s)' % ($height-navbar $space-normal)

  footer
    position absolute
    bottom $space-normal
