@import "~@/styles/tokens.styl"
@import "~@/styles/scrollbars.styl"

post()
  h2
    --heading-color $color-accent-violet
    --heading-size $size-huge

  h3
    --heading-color $color-accent-blue
    --heading-size $size-large

  h4
    --heading-color $color-accent-cyan
    --heading-size $size-big

  h5
    --heading-color $color-accent-yellow
    --heading-size $size-normal

  h6
    --heading-color $color-accent-orange
    --heading-size $size-small

  h1, h2, h3, h4, h5, h6
    color var(--heading-color)

    font-family "Space Grotesk", sans-serif
    font-size var(--heading-size)

    margin-top 0
    margin-bottom $space-smallest
