@import "~@/styles/tokens.styl"

custom-scrollbars()
  scrollbar-color var(--background-opposite) var(--background)
  scrollbar-width thin

  ::-webkit-scrollbar
    width $width-scrollbar

  ::-webkit-scrollbar-track
    background-color var(--background)

  ::-webkit-scrollbar-thumb
    background-color var(--background-opposite)
