theme()
  &.dark-themed
    --emphasised-content $color-content-base1
    --primary-content $color-content-base0
    --secondary-content $color-content-base01

    --background-opposite $color-background-base3
    --background-highlights $color-background-base02
    --background $color-background-base03

  &.light-themed
    --emphasised-content $color-content-base01
    --primary-content $color-content-base00
    --secondary-content $color-content-base1

    --background-opposite $color-background-base03
    --background-highlights $color-background-base2
    --background $color-background-base3
