// Token constants

// Import color tokens from the Solarized palette
@import "./solarized.styl"

// Radii
$radius-normal = 1em
$radius-small = 0.5em
$radius-smaller = 0.25em
$radius-smallest = 0.125em

// Spaces
$space-normal = 1em
$space-small = 0.5em
$space-smaller = 0.25em
$space-smallest = 0.125em

// Font sizes
$size-small = 0.7937rem
$size-normal = 1.0000rem
$size-big = 1.2599rem
$size-large = 1.5874rem
$size-huge = 2.0000rem
$size-enormous = 2.5198rem
$size-gigantic = 3.1748rem

// Font weights
$weight-bold = 700
$weight-semibold = 600
$weight-medium = 500
$weight-normal = 400
$weight-light = 300

// Durations
$duration-standard = 0.5s
$duration-long = 1s
$duration-longer = 2s
$duration-longest = 4s

// Very specific constants
$height-navbar = 3em
