@import "~@/styles/tokens.styl"

fade()
  .fade-enter,
  .fade-leave-to
    opacity 0

  .fade-enter-active,
  .fade-leave-active
    transition-property opacity
    transition-duration $duration-standard
    transition-timing-function ease-in-out

  .fade-leave,
  .fade-enter-to
    opacity 1

flip(name, xfrom=0deg, xmid=0deg, xto=0deg, yfrom=0deg, ymid=0deg, yto=0deg)
  perspective 20em

  .flip-{name}-enter
    opacity 0
    transform rotateX(xfrom) rotateY(yfrom)

  .flip-{name}-leave-to
    opacity 0
    transform rotateX(xto) rotateY(yto)

  .flip-{name}-enter-active,
  .flip-{name}-leave-active
    transform-style preserve-3d
    transform-origin 50% 100%

    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .flip-{name}-enter-to,
  .flip-{name}-leave
    transform rotateX(xmid) rotateY(ymid)

shift(name, xfrom=0, xto=0, yfrom=0, yto=0)
  .shift-{name}-enter
    transform translate(xfrom, yfrom)
    opacity 0

  .shift-{name}-enter-active
    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .shift-{name}-enter-to
    transform translate(xto, yto)
    opacity 1

spin()
  .spin-enter
    transform rotateZ(30deg) scale(0)

  .spin-enter-active
    transform-origin 0 100%

    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .spin-enter-to
    transform rotateZ(0deg) scale(1)
