@import "~@/styles/tokens.styl"

rotate-vertical()
  perspective 20em

  .rotate-vertical-enter
    opacity 0
    transform rotateX(-90deg)

  .rotate-vertical-leave-to
    opacity 0
    transform rotateX(90deg)

  .rotate-vertical-enter-active,
  .rotate-vertical-leave-active
    transform-style preserve-3d
    transform-origin 50% 100%

    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .rotate-vertical-enter-to,
  .rotate-vertical-leave
    transform rotateX(0deg)

rotate-horizontal()
  perspective 20em

  .rotate-horizontal-enter
    opacity 0
    transform rotateY(90deg)

  .rotate-horizontal-leave-to
    opacity 0
    transform rotateY(-90deg)

  .rotate-horizontal-enter-active,
  .rotate-horizontal-leave-active
    transform-style preserve-3d

    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .rotate-horizontal-enter-to,
  .rotate-horizontal-leave
    transform rotateY(0deg)

fade()
  .fade-enter,
  .fade-leave-to
    opacity 0

  .fade-enter-active,
  .fade-leave-active
    transition-property opacity
    transition-duration $duration-short
    transition-timing-function linear

  .fade-leave,
  .fade-enter-to
    opacity 1

slide()
  .slide-enter
    transform translateX(5em)
    opacity 0

  .slide-leave-to
    transform translateX(-5em)
    opacity 0

  .slide-enter-active,
  .slide-leave-active
    transition-property transform, opacity
    transition-duration $duration-standard
    transition-timing-function linear

  .slide-enter-to,
  .slide-leave
    opacity 1
    transform translateX(0)
