@use '~@/styles/tokens/dimensions';
@use '~@/styles/tokens/fonts';

@use '~@/styles/layouts/content';

@use '~@/styles/utils/theming';

@use './styles/typography';

.post {
  @include content.content;

  .body {
    box-sizing: border-box;

    width: calc(100vw - 2 * #{dimensions.$m});
    max-width: 45em;

    margin: auto;

    ::v-deep { // To style v-html content
      .content {
        @import './styles/post';
      }
    }

    .footer {
      @include theming.transition(2, (border-top-color));

      border-top: 1px solid var(--content-secondary);

      margin-top: dimensions.$l;
    }
  }
}
