md()
  h1, h2, h3, h4, h5, h6
    font-weight $weight-bold

    margin-top $space-line
    margin-bottom $space-line

    &::before
      color var(--secondary-content)

      font-weight $weight-normal

  h1
    color $color-accent-green

    &::before
      content '# '

  h2
    color $color-accent-violet

    &::before
      content '## '

  h3
    color $color-accent-blue

    &::before
      content '### '

  p
    margin-top $space-line
    margin-bottom $space-line

  a:not(.avoid)
    text-decoration underline
    text-decoration-style dotted

    &::before
      content '['

    &::after
      content '](' attr(href) ')'

  em
    color $color-accent-blue

    &::before,
    &::after
      content '_'

      color var(--secondary-content)

  strong
    color $color-accent-cyan

    font-weight $weight-bold

    &::before,
    &::after
      content '**'

      color var(--secondary-content)

      font-weight $weight-normal

  ul
    list-style none

    padding-left 2ch

    li
      &::before
        content '- '

        color var(--secondary-content)

        margin-left -2ch
