md()
  h1::before
      content '# '

  h2::before
      content '## '

  h3::before
      content '### '

  a
    text-decoration underline
    text-decoration-style dotted

    &::before
      content '['

    &::after
      content '](' attr(href) ')'

  em
    color $color-accent-blue

    &::before,
    &::after
      content '_'

  strong
    color $color-accent-cyan

    &::before,
    &::after
      content '**'

  ul
    list-style none

    padding-left 2ch

    li
      &::before
        content '- '

        color $color-accent-cyan

        margin-left -2ch
