rst()
  h1, h2, h3
    position relative

    width max-content
    overflow-x hidden

    padding-bottom $space-line

    &::after
      display block

      position absolute
      bottom 0
      left 0

  h1::after
    content '================================'

  h2::after
    content '--------------------------------'

  h3::after
    content '................................'

  ul
    list-style none

    padding-left 2ch

    li
      &::before
        content '- '

        color $color-accent-cyan

        margin-left -2ch

  dl
    dt
      &::before,
      &::after
        content ':'

    dd
      margin-left 2ch

  a
    &::before
      content '`'

    &::after
      content '<' attr(href) '>`_'
