// Screen size breakpoints

$phone:              null,  599px;
$tablet-portrait:   600px,  899px;
$tablet-landscape:  900px, 1199px;
$desktop-standard: 1200px, 1799px;
$desktop-wide:     1800px,   null;
