// Standard dimensions

$line: 2.000ex;
$xxs:  0.125em;
$xs:   0.250em;
$s:    0.500em;
$m:    1.000em; // Baseline
$l:    1.500em;
$xl:   2.000em;
$xxl:  3.000em;

// Component dimensions

$bars: 3.000em;
