// OS font stack

$mac: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Apple Color Emoji';
$windows: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol';
$android: 'Roboto';
$linux: 'Cantarell', 'Ubuntu', 'Oxygen';
$system: system-ui;

$family-os: $mac, $windows, $android, $linux, $system;
$family-sans-serif: $family-os, sans-serif;

// JetBrains Mono

$font-weights: (
  Regular: 400,
  Medium: 500,
  Bold: 700
);

@each $font-name, $font-weight in $font-weights {
  @font-face {
    font-family: 'JetBrains Mono';
    font-weight: $font-weight;
    font-style: normal;

    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-#{$font-name}.eot')     format('embedded-opentype'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-#{$font-name}.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-#{$font-name}.woff')   format('woff'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-#{$font-name}.ttf')         format('truetype');
  }
}

$jetbrains-mono: 'JetBrains Mono';
$family-monospace: $jetbrains-mono, monospace;

// Usage

$family-heading: $family-monospace;
$family-body: $family-sans-serif;
$family-code: $family-monospace;
