// Screen size breakpoints

$screen-phone-max: 599px;

$screen-tablet-portrait-min: 600px;
$screen-tablet-portrait-max: 899px;

$screen-tablet-landscape-min: 900px;
$screen-tablet-landscape-max: 1199px;

$screen-desktop-standard-min: 1200px;
$screen-desktop-standard-max: 1799px;

$screen-desktop-big-min: 1800px;
