// Text sizes

$size-xs:  0.750rem;
$size-s:   0.875rem;
$size-m:   1.000rem; // Baseline
$size-l:   1.125rem;
$size-1xl: 1.250rem;
$size-2xl: 1.500rem;
$size-3xl: 1.875rem;
$size-4xl: 2.250rem;
$size-5xl: 3.000rem;
$size-6xl: 3.750rem;
