@import '~@/styles/mixins/intersectable';

@import '~@/styles/utils/media';

.photo {
  @include intersectable;

  box-sizing: border-box;
  width: 100%;
  height: 0;
  min-height: 100%;

  padding-top: var(--vertical-aspect);

  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition-property: transform;
    transition-duration: $duration-s;
  }

  &:hover {
    img {
      transform: scale(calc(1/0.95));
    }
  }
}
