@use '~@/styles/tokens/durations';

@use '~@/styles/motion/transitions';

@use '~@/styles/utils/theming';

.work {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .actual-work {
    position: relative;

    &::after {
      @include theming.transition(1, (width), (durations.$s));

      content: '';

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      box-sizing: border-box;
      height: 100%;
      width: 0;

      background-color: var(--background-highlighted);
    }
  }

  &.focused {
    .actual-work {
      &::after {
        width: 100%;
      }
    }
  }
}
