@import "~@/styles/tokens.styl"
@import "~@/styles/animations.styl"

.indicator
  .direction
    swipe(0, 0, 0, -50%, 0, 50%)
    animation-duration $duration-longer

    &.delayed
      animation-delay $duration-long


