@import "~@/styles/tokens.styl"
@import "~@/styles/transitions.styl"

.card
  opacity 0

  position relative

  background-color var(--background-highlights)

  box-sizing border-box
  height 100%
  max-width 100%

  padding $space-large
  padding-top $space-large + $space-normal

  border-radius $space-small

  transform scale(0.95)

  transition opacity $duration-long, transform $duration-long, color $duration-standard, background-color $duration-standard

  .title
    position absolute

    top $space-normal
    left $space-large

  .content
    display flex
    flex-direction column
    align-items center
    justify-content center

    height 100%

  &.visible
    opacity 1
    transform scale(1)
