@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/durations';

@import '~@/styles/mixins/intersectable';

.card {
  @include intersectable;

  position: relative;

  background-color: var(--background-highlighted);

  box-sizing: border-box;
  height: 100%;
  max-width: 100%;

  padding: $dimen-l + 2 * $dimen-m $dimen-m $dimen-l;

  .title {
    position: absolute;

    transform: translateY(-#{2 * $dimen-m});
  }

  .content {
    display: flex;

    flex-direction: column;
    justify-content: center;

    height: 100%;
  }
}
