@import '~@/styles/tokens/durations';
@import '~@/styles/mixins/colored';
@import '~@/styles/motion/transitions';

.role {
  @include colored('color');
  @include flip('vertical', $duration-m, -90deg, 0deg, 90deg, 0deg, 0deg, 0deg);

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .arrow, .fullstop {
    transition-property: opacity, transform;
    transition-duration: $duration-m;
  }

  .arrow {
    opacity: 0;
    transform: translateX(-1em);
  }

  .fullstop {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover {
    .arrow {
      opacity: 1;
      transform: translateX(0);
    }

    .fullstop {
      opacity: 0;
      transform: translateX(1em);
    }
  }
}
