.repr {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.5em; //same as Icon
  width: 1.5em; // same as Icon

  svg {
    height: 100%;
    width: 100%;

    max-height: 80%;
    max-width: 80%;
  }
}
