@import "~@/styles/tokens.styl"
@import "~@/styles/media.styl"

a
  position relative

  display inline-flex
  align-items center
  justify-content center

  color var(--secondary-content)

  font-weight $weight-semibold

  text-decoration none

  box-sizing border-box
  height $height-navbar
  min-width $height-navbar

  transition-property color, background-color, border-top-color
  transition-duration $duration-standard

  .text
    padding-left $space-small
    padding-right $space-small

    +phone-only()
      display none

  .icon
    +tablet-portrait-up()
      display none

  &::after
    position absolute
    top 0
    left 50%

    width 0
    height $space-smaller

    content ''

    background-color var(--secondary-content)

    transition-property width, left, background-color
    transition-duration $duration-standard

  &:hover,
  &:focus
    &::after
      left 0

      width 100%

  &:focus
    outline none

  &.router-link-active
    color $color-accent-green

    background-color var(--background)

    &::after
      left 0

      width 100%

      background-color $color-accent-green
