@import "~@/styles/tokens.styl"
@import "~@/styles/media.styl"

.navigation
  position fixed
  z-index 9

  display flex
  flex-direction row
  justify-content flex-start
  align-items center

  background var(--background)

  box-sizing border-box
  width 'calc(100% - %s)' % $width-scrollbar

  padding-left $space-normal
  padding-right $space-normal

  & > a
    align-self stretch

    display flex
    align-items center
    justify-content center

    text-decoration none

    .nav-title
      display inline
      margin 0
      margin-right 0.5rem // Small space but in rem

      &.full
        +tablet-portrait-down()
          display none

      &.short
        +tablet-landscape-up()
          display none

    &:focus
      outline none

      .nav-title
        text-decoration underline

  .links
    margin-left auto
