@import "~@/styles/tokens.styl"
@import "~@/styles/colors.styl"

h1.heading
  --heading-size $size-gigantic

h2.heading
  --heading-size $size-enormous

h3.heading
  --heading-size $size-huge

h4.heading
  --heading-size $size-large

h5.heading
  --heading-size $size-big

h6.heading
  --heading-size $size-normal

.heading
  colors('--heading-color')

  color var(--heading-color)

  font-family "Space Grotesk", "IBM Plex Sans Devanagari", sans-serif
  font-size var(--heading-size)

  margin-top 0
  margin-bottom $space-smallest
