@import '~@/styles/tokens/dimensions';
@import '~@/styles/mixins/colored';

.heading {
  @include colored('--heading-color');

  color: var(--heading-color);

  margin-top: 0;
  margin-bottom: $dimen-s;
}
