@import '~@/styles/tokens/screens';

@mixin phone-only {
  @media (max-width: $screen-phone-max) {
    @content
  }
}

@mixin tablet-portrait-only {
  @media (min-width: $screen-tablet-portrait-min) and (max-width: $screen-tablet-portrait-max) {
    @content
  }
}

@mixin tablet-landscape-only {
  @media (min-width: $screen-tablet-landscape-min) and (max-width: $screen-tablet-landscape-max) {
    @content
  }
}

@mixin desktop-standard-only {
  @media (min-width: $screen-desktop-standard-min) and (max-width: $screen-desktop-standard-max) {
    @content
  }
}

@mixin desktop-wide-only {
  @media (min-width: $screen-desktop-wide-min) {
    @content
  }
}

$devices-small-side: 'phone', 'tablet-portrait';
$devices-big-side: 'tablet-landscape', 'desktop-standard', 'desktop-wide';
$devices-all: append($devices-small-side, $devices-big-side);

@mixin device-specific($devices) {
  @if index($devices, 'phone') {
    @include phone-only {
      @content
    }
  }
  @if index($devices, 'tablet-portrait') or index($devices, 'tablet') {
    @include tablet-portrait-only {
      @content
    }
  }
  @if index($devices, 'tablet-landscape') or index($devices, 'tablet') {
    @include tablet-landscape-only {
      @content
    }
  }
  @if index($devices, 'desktop-standard') or index($devices, 'desktop') {
    @include desktop-standard-only {
      @content
    }
  }
  @if index($devices, 'desktop-wide') or index($devices, 'desktop') {
    @include desktop-wide-only {
      @content
    }
  }
}
