@import '~@/styles/tokens/dimensions';

@mixin custom-scrollbars {
  overflow-y: scroll;

  $thumb-color: var(--background-opposite);
  $track-color: var(--background-highlighted);

  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;

  transition-property: scrollbar-color;

  ::-webkit-scrollbar {
    width: $dimen-xs;
    height: $dimen-xs;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
  }

  ::-webkit-scrollbar-track {
    background-color: $track-color;
  }
}
