@use '~@/styles/mixins/actionable';

.preview {
  @include actionable.actionable;

  .title-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .stuff {
    align-self: flex-start;
  }
}
