@use 'sass:color';

@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/weights';
@use '~@/styles/tokens/durations';

.site-title {
  .name {
    color: colors.$accent-red;
    font-weight: weights.$extrabold;

    .character {
      @keyframes condense {
        0% {
          opacity: 0;
          padding-right: 0.1ch;
        }

        100% {
          opacity: 1;
          padding-right: 0;
        }
      }

      animation: condense;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-duration: durations.$l;
    }
  }
}
