@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/sizes';
@use '~@/styles/tokens/dimensions';

.site-title {
  display: block;;

  box-sizing: border-box;
  height: 2 * sizes.$xl6;
  max-width: 100%;

  padding-top: dimensions.$s;
  padding-bottom: dimensions.$s;

  #{--stroke}: colors.$accent-red;
}
