@use '~@/styles/tokens/sizes';
@use '~@/styles/tokens/weights';
@use '~@/styles/tokens/durations';

@use '~@/styles/utils/gradient-text';

.site-title {
  .text {
    font-weight: weights.$extrabold;

    @include gradient-text.gradient-text;
  }

  .name {
    @keyframes condense {
      0% {
        opacity: 0;
        letter-spacing: 0.1ch;
      }

      100% {
        opacity: 1;
        letter-spacing: 0;
      }
    }

    animation: condense;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: durations.$l;
  }

  &.small {
    .handle {
      font-size: sizes.$xl2; // Matches h5
    }
  }
}
