@import '~@/styles/tokens/dimensions';
@import '~@/styles/utils/media';

.gallery {
  width: 100%;

  .content {
    box-sizing: border-box;

    padding: 0 $dimen-s;

    .photo {
      background-image: var(--image-url);
      background-size: cover;
      background-position: center center;

      width: 100%;
      // Hack to maintain aspect ratio
      height: 0;
      padding-top: (2/3) * 100%;

      border-radius: $dimen-s;
    }

    .caption {
      $devices: 'phone', 'tablet-portrait', 'tablet-landscape';
      @include device-specific($devices) {
        display: none;
      }
    }
  }
}
