@import '~@/styles/utils/media';

.prompt {
  color: var(--content-secondary);

  margin-right: 1ch;

  .directory {
    color: var(--content);
  }

  .big {
    display: inline;
  }

  .small {
    display: none;
  }

  $devices: 'phone';
  @include device-specific($devices) {
    .big {
      display: none;
    }

    .small {
      display: inline;
    }
  }
}
