@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/dimensions';

@import '~@/styles/layouts/content';

@import '~@/styles/utils/media';

.contact {
  @include content;

  .email,
  .phone {
    font-size: $size-3xl;

    height: 1em;
  }

  .say-hi {
    $devices: 'phone';
    @include device-specific($devices) {
      order: -1;
    }
  }

  .tall-image {
    grid-row: span 2;

    img {
      display: block;
    }
  }

  .stuff {
    align-self: flex-start;

    .icon {
      margin-right: $dimen-s;
    }

    .text {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
