@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.contact
  content()

  .imagery
    spin()

    .pulse
      pulse()
      animation-duration $duration-long
      animation-delay $duration-longer

    .dot
      opacity 0

      color var(--background)
      font-size 0.33rem

      blink(1, 0.6)
      animation-duration $duration-long
      animation-delay $duration-longer

      &[data-pos="1"]
        transform translateX(-150%)

      &[data-pos="2"]
        animation-delay 'calc(1 * %s / 3 + %s)' % ($duration-long $duration-longer)

      &[data-pos="3"]
        transform translateX(150%)

        animation-delay 'calc(2 * %s / 3 + %s)' % ($duration-long $duration-longer)

  .box
    display inline-block

  .email,
  .phone
    height $size-huge

  .lefted
    align-self stretch
