@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.contact
  content()

  .imagery
    spin()

    .icon
      blink()
      animation-duration $duration-longest

  .box
    display inline-block

  .email,
  .phone
    height $size-huge

  .lefted
    align-self stretch
