@use '~@/styles/tokens/colors';

:export {
  colorBackgroundBase03: colors.$background-base03;
  colorBackgroundBase02: colors.$background-base02;

  colorBackgroundBase2:  colors.$background-base2;
  colorBackgroundBase3:  colors.$background-base3;

  colorContentBase01:    colors.$content-base01;
  colorContentBase00:    colors.$content-base00;

  colorContentBase0:     colors.$content-base0;
  colorContentBase1:     colors.$content-base1;

  colorAccentYellow:     colors.$accent-yellow;
  colorAccentOrange:     colors.$accent-orange;
  colorAccentRed:        colors.$accent-red;
  colorAccentMagenta:    colors.$accent-magenta;
  colorAccentViolet:     colors.$accent-violet;
  colorAccentBlue:       colors.$accent-blue;
  colorAccentCyan:       colors.$accent-cyan;
  colorAccentGreen:      colors.$accent-green;
}
