@use '~@/styles/tokens/sizes';

@use '~@/styles/mixins/colored';

.blockquote {
  @include colored.colored('--blockquote-color');

  position: relative;

  width: fit-content;

  .content {
    .quotation {
      color: var(--blockquote-color);
      font-size: sizes.$l;
    }

    .citation {
      display: block;

      font-style: normal;
      text-align: right;
    }
  }

  .icon {
    opacity: 0.5;

    position: absolute;
    top: 0;

    color: var(--blockquote-color);
    font-size: sizes.$xl2;

    z-index: -1;

    --stroke-width: 21.3333px; // 24 / 36 * 32px

    &.left {
      left: 0;
      transform: translate(-50%, -50%);
    }

    &.right {
      right: 0;
      transform-origin: 100% 0;
      transform: rotate(180deg) translate(50%, -50%);
    }
  }
}
