@import "~@/styles/tokens.styl"
@import "~@/styles/colors.styl"

.blockquote
  colors('--blockquote-color')

  display flex

  &.vertically-oriented
    flex-direction column

  &.horizontally-oriented
    flex-direction row

  align-items center

  margin 0
  margin-bottom $space-normal

  .visual
    background-color var(--blockquote-background, var(--background))

    padding $space-small

    transform var(--visual-transform)

    .icon
      color var(--blockquote-color)

  .content
    margin $space-normal

    .quotation
      font-style italic

      margin-bottom $space-smaller

    .citation
      display block

      text-align right

      font-style normal

  &.vertically-oriented
    border-top 1px solid var(--blockquote-color)
    border-bottom 1px solid var(--blockquote-color)

    margin-top $space-normal

  &.horizontally-oriented
    border-left 1px solid var(--blockquote-color)
    border-right 1px solid var(--blockquote-color)

    margin-left $space-normal

  &.vertically-oriented
    .visual
      transform translateY(-50%)

    .content
      margin-top '-%s' % $space-normal

  &.horizontally-oriented
    .visual
      transform translateX(-50%)

    .content
      margin-left '-%s' % $space-normal
