@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/durations';
@import '~@/styles/tokens/dimensions';

.preview {
  .title-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .stuff {
    align-self: flex-start;
  }

  .read-more {
    text-decoration: none;
  }
}
