@import '~@/styles/motion/animations';

.kaomoji {
  cursor: grab; // closest thing to a waving hand

  margin-left: auto;
  margin-right: auto;

  .wave {
    display: inline-block;
    transform-origin: 0 100%;

    @include wave(4s);
  }
}
