@import '~@/styles/tokens/durations';

@import '~@/styles/mixins/colored';

@import '~@/styles/motion/transitions';

.memoji {
  @include colored('--outline-color');
  @include flip('horizontal', $duration-m, 0deg, 0deg, 0deg, 90deg, 0deg, -90deg);
  @include flip('horizontal-rev', $duration-m, 0deg, 0deg, 0deg, -90deg, 0deg, 90deg);

  transform: scale(0.95);

  transition-property: transform, filter;
  transition-duration: $duration-s;

  .image {
    width: 24em;
    max-width: 100%;

    filter:
      drop-shadow(2px 2px 0 var(--outline-color))
      drop-shadow(-2px 2px 0 var(--outline-color))
      drop-shadow(2px -2px 0 var(--outline-color))
      drop-shadow(-2px -2px 0 var(--outline-color));
  }

  &:hover,
  &.focused {
    --outline-color: var(--background-opposite);

    transform: scale(1) rotate(5deg);
  }
}
