@import '~@/styles/tokens/durations';
@import '~@/styles/mixins/colored';
@import '~@/styles/motion/transitions';

.memoji {
  @include colored('--outline-color');
  @include flip('horizontal', $duration-m, 0deg, 0deg, 0deg, 90deg, 0deg, -90deg);

  transition-property: transform, filter;

  .image {
    height: 20em;

    filter:
      drop-shadow(2px 2px 0 var(--outline-color))
      drop-shadow(-2px 2px 0 var(--outline-color))
      drop-shadow(2px -2px 0 var(--outline-color))
      drop-shadow(-2px -2px 0 var(--outline-color));
  }

  &:hover {
    transform: scale(1.05) rotate(5deg);
  }

  &.focused {
    --outline-color: var(--background-opposite);
  }
}
