@import "~@/styles/tokens.styl"
@import "~@/styles/media.styl"

.terminal
  position relative

  font-family "Fira Code"
  font-size 15px

  line-height 1.4

  max-width 80ch

  // Right margins

  &::after,
  &::before
    position absolute
    top 0
    left 0

    z-index 1

    content ''

    font inherit

    height 100%

    border-right-width 1px
    border-right-style solid
    border-right-color var(--background-highlights)

    pointer-events none

    transition-property border-right-color
    transition-duration $duration-standard

  &::after
    @media (min-width: 740px) // Slightly over 80ch
      width 80ch

    @media (max-width: 739px)
      display none

  &::before
    @media (min-width: 1100px) // Slightly over 120ch
      width 120ch

    @media (max-width: 1099px)
      display none
