@use '~@/styles/tokens/dimensions';
@use '~@/styles/tokens/durations';

@use '~@/styles/utils/media';

@mixin bar-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: dimensions.$bars;
  min-width: dimensions.$bars;

  padding-left: dimensions.$s;
  padding-right: dimensions.$s;

  transition-property: color;
  transition-duration: durations.$s;
}
