@import '~@/styles/tokens/dimensions';

@import '~@/styles/layouts/page';

@import '~@/styles/utils/media';

@mixin content {
  main {
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-of-type,
      &.centered {
        align-items: center;
      }

      &:first-of-type {
        @include page-with-footer;

        .intro-text {
          width: 100%;
          max-width: 32em;
        }

        $devices: 'phone';
        @include device-specific($devices) {
          align-items: unset;
        }
      }

      &:not(:first-of-type) {
        @include page;
      }
    }
  }

  .carousel-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin-bottom: $dimen-s;
    }
  }
}
