@use '~@/styles/tokens/colors';
@use '~@/styles/tokens/dimensions';

@use '~@/styles/utils/units';

@mixin content-section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  padding-left: dimensions.$m;
  padding-right: dimensions.$m;

  &.centered {
    align-items: center;
    justify-content: center;
  }

  .page-title {
    color: colors.$accent-green;

    width: fit-content;

    margin-bottom: -1 * units.em-to-rem(dimensions.$xxl);
    margin-left: units.em-to-rem(dimensions.$m);
    z-index: 1;
  }
}

@mixin content-main {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  section {
    @include content-section;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    height: dimensions.$bars;
  }
}
