@import '~@/styles/tokens/dimensions';

@mixin page {
  box-sizing: border-box;
  min-height: 100vh;

  padding: calc(#{$dimen-bars} + #{$dimen-xs}) $dimen-m $dimen-m;
}

@mixin page-with-footer {
  @include page;

  position: relative;

  padding-bottom: calc(#{$dimen-bars} + #{$dimen-xs});

  footer {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: $dimen-bars;
    width: 100%;

    padding-left: $dimen-s;
    padding-right: $dimen-s;
  }
}
