@use '~@/styles/tokens/dimensions';

@mixin page {
  box-sizing: border-box;
  min-height: 100vh;

  padding: calc(#{dimensions.$bars} + #{dimensions.$xs}) dimensions.$m dimensions.$m;
}

@mixin page-with-footer {
  @include page;

  position: relative;

  padding-bottom: calc(#{dimensions.$bars} + #{dimensions.$xs});

  footer {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: dimensions.$bars;
    width: 100%;

    padding-left: dimensions.$s;
    padding-right: dimensions.$s;
  }
}
