@import '~@/styles/mixins/colored';

@import '~@/styles/utils/controls';

.scroll {
  @include reset-control;
  @include colored('--scroll-color');

  color: var(--content-secondary);

  height: 1.5em;
  width: 1.5em;
  border-radius: 0.75em;

  &:hover {
    color: var(--background);

    background-color: var(--scroll-color);
  }
}
