@import "~@/styles/base.styl"

@import "~@/styles/theme.styl"

#app
  color var(--primary-content)
  background-color var(--background)

  .fade-enter,
  .fade-leave-to
    opacity 0

  .fade-enter-active,
  .fade-leave-active
    transition-property opacity
    transition-duration $duration-normal
    transition-timing-function linear

  .fade-leave,
  .fade-enter-to
    opacity 1
