@import "~@/styles/base.styl"

@import "~@/styles/theme.styl"

#app
  color var(--primary-content)
  background-color var(--background)

  overflow-x hidden

  .slide-left-enter,
  .slide-right-leave-to
    opacity 0
    transform translateX(-3em)

  .slide-right-enter,
  .slide-left-leave-to
    opacity 0
    transform translateX(3em)

  .slide-left-enter-active,
  .slide-left-leave-active,
  .slide-right-enter-active,
  .slide-right-leave-active
    transition-property transform, opacity
    transition-duration $duration-short
    transition-timing-function linear

  .slide-left-enter-to,
  .slide-left-leave,
  .slide-right-enter-to,
  .slide-right-leave
    opacity 1
    transform translate(0)
