@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/durations';
@import '~@/styles/tokens/weights';

@import '~@/styles/utils/controls';
@import '~@/styles/utils/media';

.present {
  cursor: url('~@/assets/svgs/keyboard.svg') 12 6, crosshair;

  .prompt-label {
    font-weight: $weight-semibold;

    cursor: inherit;
  }

  .command-field {
    @include reset-control;

    position: relative;
    z-index: 1;

    color: var(--text-color);
    text-align: right;
    caret-color: transparent;

    border-radius: 0;

    &:focus {
      outline: none;

      & + .faux-caret {
        background-color: adjust_color($color-accent-blue, $alpha: -0.7);
        border-color: $color-accent-blue;

        @keyframes blink {
          0%, 49%, 100% {
            opacity: 1;
          }

          50%, 99% {
            opacity: 0;
          }
        }

        animation-name: blink;
        animation-iteration-count: infinite;
        animation-duration: $duration-l;
      }
    }

    $devices: 'phone';
    @include device-specific($devices) {
      width: 100%;
    }
  }

  .faux-caret {
    display: inline-block;

    position: relative;
    top: 0.6ex; // Align caret precisely
    z-index: 0;

    border: 1px solid var(--content-secondary);

    height: $dimen-line;
    width: calc(1ch - 2px); // Account for 1px border on left and right sides

    margin-top: -0.8ex; // Remove the space left on the top

    transform: scaleY(1.4); // Multiply with line height of 1.4
    transform-origin: 50% calc(50% + 0.4ex); // Grow the caret about the center

    transition-property: border-color;
    transition-duration: $duration-m;
  }
}

:root.dark-themed {
  .present {
    --text-color: white;
  }
}

:root.light-themed {
  .present {
    --text-color: black;
  }
}
