@import "~@/styles/tokens.styl"
@import "~@/styles/reset.styl"

.locale
  display flex
  flex-direction row
  align-items center

  .translator
    display none

  button
    reset-control()

    cursor pointer

    margin 0 $space-small
