@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/layouts/content';

.home {
  @include content;

  .site-title {
    margin-left: -0.25rem;
  }

  .portfolio-link {
    outline: none;
  }

  .roles {
    font-size: $size-l;
  }

  footer {
    .source {
      position: absolute;
      left: $dimen-s;
    }

    .locale {
      position: absolute;
      right: $dimen-s;
    }
  }
}
