@import "~@/styles/tokens.styl"
@import "~@/styles/page.styl"
@import "~@/styles/grid.styl"
@import "~@/styles/reset.styl"

.home
  page-with-footer()

  position relative

  display flex
  flex-direction column
  justify-content center
  align-items center

  main
    grid()

    .pane
      &.left
        display flex
        align-items center
        justify-content center

        .avatar-spinner
          perspective 20em

          .rotate-horizontal-enter
            opacity 0
            transform rotateY(90deg)

          .rotate-horizontal-leave-to
            opacity 0
            transform rotateY(-90deg)

          .rotate-horizontal-enter-active,
          .rotate-horizontal-leave-active
            transform-style preserve-3d

            transition-property transform, opacity
            transition-duration $duration-normal
            transition-timing-function linear

          .rotate-horizontal-enter-to,
          .rotate-horizontal-leave
            transform rotateY(0deg)

      &.right
        .role
          display flex
          flex-direction row

          perspective 20em

          .rotate-vertical-enter
            opacity 0
            transform rotateX(-90deg)

          .rotate-vertical-leave-to
            opacity 0
            transform rotateX(90deg)

          .rotate-vertical-enter-active,
          .rotate-vertical-leave-active
            transform-style preserve-3d
            transform-origin 50% 100%

            transition-property transform, opacity
            transition-duration $duration-normal
            transition-timing-function linear

          .rotate-vertical-enter-to,
          .rotate-vertical-leave
            transform rotateX(0deg)

        .run-on
          color var(--secondary-content)

  footer
    font-weight $weight-semibold

    .wave
      display inline-block

      transform-origin 0 100%

      animation-name wave
      animation-duration $duration-longest
      animation-timing-function ease-in-out
      animation-iteration-count infinite

      @keyframes wave
        0%, 42.5%, 47.5%, 52.5%, 57.5%, 100%
          transform rotate(0deg)

        45%, 50%, 55%
          transform rotate(15deg)
