@import "~@/styles/tokens.styl"
@import "~@/styles/content.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.home
  content()

  .site-title
    margin-left -6px

  .roles
    font-size $size-large

  footer
    display flex

    flex-direction row

    align-items center
    justify-content space-between

    width 100%
    box-sizing border-box

    padding-left $space-normal
    padding-right $space-normal
