@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/layouts/content';

.home {
  @include content();

  .site-title {
    margin-left: -0.25rem;
  }

  .roles {
    font-size: $size-l;
  }

  footer {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;

    padding-left: $dimen-m;
    padding-right: $dimen-m;
  }
}
