@import "~@/styles/tokens.styl"
@import "~@/styles/page.styl"
@import "~@/styles/reset.styl"
@import "~@/styles/animations.styl"
@import "~@/styles/transitions.styl"

.home
  page-with-footer()

  position relative

  display flex
  flex-direction column
  justify-content center
  align-items center

  main
    .pane
      &.left
        display flex
        align-items center
        justify-content center

        .avatar-spinner
          flip('horizontal', 0deg, 0deg, 0deg, 90deg, 0deg, -90deg)

      &.right
        .role
          display inline-flex
          flex-direction row

          flip('vertical', -90deg, 0deg, 90deg, 0deg, 0deg, 0deg)

          .border
            position absolute
            top 0
            left '-%s' % $space-smaller

            z-index -1

            background-image linear-gradient(
              90deg,
              transparent 50%,
              var(--background-highlights) 50%
            )
            background-size 200%

            width 'calc(100% + 2 * %s)' % $space-smaller
            height 100%

            grow()
            animation-duration 'calc(8s - %s)' % $duration-standard
            animation-delay $duration-standard

  footer
    font-weight $weight-semibold

    .wave
      display inline-block

      transform-origin 0 100%

      wave()
      animation-duration $duration-longest
