@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/dimensions';
@import '~@/styles/tokens/durations';

@import '~@/styles/layouts/content';

@import '~@/styles/utils/media';

.home {
  @include content;

  .home-grid {
    box-sizing: border-box;

    @include device-specific($devices-small-side) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include device-specific($devices-big-side) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    .left,
    .right {
      grid-column: span 1;

      @include device-specific($devices-big-side) {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }
    }

    .left {
      .content {
        width: fit-content;

        margin-left: auto;

        @include device-specific($devices-small-side) {
          margin-right: auto; // Align center
        }

        @include device-specific($devices-big-side) {
          margin-right: 0; // Align right
        }
      }
    }
  }

  .site-title {
    display: block;

    box-sizing: border-box;
    max-height: 2 * $size-6xl;
    max-width: 100%;

    padding-top: $dimen-s;
    padding-bottom: $dimen-s;

    path {
      fill: adjust_color($color-accent-red, $alpha: -1.0);

      stroke: $color-accent-red;
      stroke-width: 2px;
      stroke-dasharray: 30em;
      stroke-dashoffset: 30em;
    }
  }

  .memoji-link,
  .role-link {
    outline: none;

    text-decoration: none;
  }

  .roles {
    font-size: $size-l;
  }

  .scroll {
    @include device-specific($devices-small-side) {
      display: none;
    }

    @include device-specific($devices-big-side) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.previous {
        left: $dimen-m;
      }

      &.next {
        right: $dimen-m;
      }
    }
  }

  footer {
    .source {
      position: absolute;
      left: $dimen-s;
    }

    .locale {
      position: absolute;
      right: $dimen-s;
    }
  }
}
