@import '~@/styles/tokens/colors';
@import '~@/styles/tokens/durations';

@import '~@/styles/mixins/colored';

@mixin theme {
  &.dark-themed {
    #{--content}:                $color-content-base0;
    #{--content-highlighted}:    $color-content-base1;
    #{--content-secondary}:      $color-content-base01;

    #{--background}:             $color-background-base03;
    #{--background-highlighted}: $color-background-base02;
    #{--background-opposite}:    $color-background-base3;

    #{--background-selected}:    rgba(255, 255, 255, 0.1);
  }

  &.light-themed {
    #{--content}:                $color-content-base00;
    #{--content-highlighted}:    $color-content-base01;
    #{--content-secondary}:      $color-content-base1;

    #{--background}:             $color-background-base3;
    #{--background-highlighted}: $color-background-base2;
    #{--background-opposite}:    $color-background-base03;

    #{--background-selected}:    rgba(0, 0, 0, 0.1);
  }
}

* {
  transition-property: color, background-color;
  transition-duration: $duration-m;
}

:root {
  @include theme;

  color: var(--content);
  background-color: var(--background);
}

a {
  color: inherit;
}

div, span, h1, h2, h3, h4, h5, h6, p, a {
  @include colored('--primary-color');

  &[class*="-colored"] {
    &:not(.inverted) {
      color: var(--primary-color);
    }

    &.inverted {
      color: var(--background);
      background-color: var(--primary-color);
    }
  }
}
