@use '~@/styles/tokens/colors';

@use '~@/styles/mixins/colored';

@use '~@/styles/utils/theming';

@mixin theme {
  &:not([theme="light"]),
  &[theme="dark"] {
    #{--content}:                colors.$content-base0;
    #{--content-highlighted}:    colors.$content-base1;
    #{--content-secondary}:      colors.$content-base01;

    #{--content-max-visibility}: white;
    #{--content-min-visibility}: black;

    #{--background}:             colors.$background-base03;
    #{--background-highlighted}: colors.$background-base02;
    #{--background-opposite}:    colors.$background-base3;

    #{--background-selected}:    rgba(255, 255, 255, 0.1);
  }

  &[theme="light"] {
    #{--content}:                colors.$content-base00;
    #{--content-highlighted}:    colors.$content-base01;
    #{--content-secondary}:      colors.$content-base1;

    #{--content-max-visibility}: black;
    #{--content-min-visibility}: white;

    #{--background}:             colors.$background-base3;
    #{--background-highlighted}: colors.$background-base2;
    #{--background-opposite}:    colors.$background-base03;

    #{--background-selected}:    rgba(0, 0, 0, 0.1);
  }
}

:root {
  @include theme;
}

body {
  color: var(--content);
  background-color: var(--background);
}

a {
  color: inherit;
}

span, h1, h2, h3, h4, h5, h6, p, a, cite, svg {
  @include colored.colored('--primary-color');

  &[class*="-colored"] {
    color: var(--primary-color);
  }
}
