@import '../tokens/colors';
@import '../tokens/durations';

@mixin theme {
  &.dark-themed {
    #{--emphasised-content}:    $color-content-base1;
    #{--primary-content}:       $color-content-base0;
    #{--secondary-content}:     $color-content-base01;

    #{--background-opposite}:   $color-background-base3;
    #{--background-highlights}: $color-background-base02;
    #{--background}:            $color-background-base03;
  }

  &.light-themed {
    #{--emphasised-content}:    $color-content-base01;
    #{--primary-content}:       $color-content-base00;
    #{--secondary-content}:     $color-content-base1;

    #{--background-opposite}:   $color-background-base03;
    #{--background-highlights}: $color-background-base2;
    #{--background}:            $color-background-base3;
  }
}

@each $color-name, $color-hex in $colors {
  .has-#{$color-name}-text {
    color: $color-hex;
  }
}

* {
  transition-property: color, background-color;
  transition-duration: $duration-m;
}

:root {
  @include theme;

  color: var(--primary-content);
  background-color: var(--background);
}

a {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

div, span {
  @include colors('--primary-color');

  &[class*="-colored"] {
    &:not(.inverted) {
      color: var(--primary-color);
    }

    &.inverted {
      color: var(--background);
      background-color: var(--primary-color);
    }
  }
}
