@import '~@/styles/tokens/fonts';
@import '~@/styles/tokens/sizes';
@import '~@/styles/tokens/weights';

:root {
  font-family: $family-body;
  font-size: $size-m;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-heading;
  line-height: 1.0;

  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: $weight-bold;
}

h2, h3, h4, h5, h6 {
  font-weight: $weight-medium;
}

$heading-sizes: (
  1: $size-6xl,
  2: $size-5xl,
  3: $size-4xl,
  4: $size-3xl,
  5: $size-2xl,
  6: $size-1xl
);

@each $heading-level, $heading-size in $heading-sizes {
  h#{$heading-level} {
    font-size: $heading-size;
  }
}

pre:not([class*="language-"]),
code:not([class*="language-"]) {
  font-family: $family-code;
  font-size: calc(14em / 16);

  background-color: var(--background-highlighted);

  padding: $dimen-xs;

  border-radius: 0.3em; // copied from Prism
}
